body {
    overflow-x: hidden;
    background-color: #142d4c;
    color:black;
    box-sizing: content-box;
}


.dark-theme {
    background-color: #142d4c;
    color:black;
}

/*Vibra la imagen del poli*/
#imgHead:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/*Header*/
div.logo {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 3;
    justify-content: space-between;
    align-items: center;
}

.white-logo {
    background-color: #b9c0c9;
}

.dark-logo {
    background-color: #385170;
}

.logo img {
    width: 14vh;
    height: 14vh;
}

.textoHead {
    color: #fbf2d5;
    font-size: 4vh;
}

.darkModeDiv {
    align-self: stretch;
    padding-left: 1vh;
    padding-top: 1vh;
}


.dark-light-switch{
    background-image: url("icons/light_mode_icon.svg");
    background-size: cover;
    border-radius: 20%;
    height: 6.5vh;
    width: 5vh;
}


/*Tabla*/
.tablaPersonas td {
    text-align: center;
}

.etiquetasTabla {
    background-color: #04AA6D;
}

td:nth-child(odd){
    background-color: #818b9c;
}

td:nth-child(even){
    background-color: #ddd;
}

.imgTabla {
    width:100%;
    height:auto;
}

.imgTabla:hover {
    filter:grayscale(100%);
}

.tablaPersonas {
    margin-top: 2%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.white-theme{
    background-color: white;
    color:black;
}