body {
    overflow-x: hidden;
    background-color: #142d4c;
    color:black;
}


.dark-theme {
    background-color: #142d4c;
    color:black;
}

/*Vibra la imagen del poli*/
#imgHead:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/*Header*/
div.logo {
    text-align: center;
    min-height: 100%; /* Set to minimum height so overflow doesn't get hidden */
    overflow-y: hidden;
    background-color: #385170;
}

.white-logo {
    background-color: #b9c0c9;
}

.dark-logo {
    background-color: #385170;
}

.logo img {
    float: right;
    width: 5%;
    height: 5%;
    padding-right: 5px;
    padding-top: 5px;
}

.textoHead {
    color: #fbf2d5;
    font-size: 200%;
    position: 100%;
}


/*Tabla*/
.tablaPersonas td {
    text-align: center;
}

.etiquetasTabla {
    background-color: #04AA6D;
}

td:nth-child(odd){
    background-color: #818b9c;
}

td:nth-child(even){
    background-color: #ddd;
}

.imgTabla {
    width:100%;
    height:auto;
}

.imgTabla:hover {
    filter:grayscale(100%);
}

.tablaPersonas {
    margin-top: 2%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.white-theme{
    background-color: white;
    color:black;
}

.dark-light-switch{
    float:left;
    background-image: url("icons/light_mode_icon.svg");
    background-size:contain;
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

